[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
opencv-python = "*"
keras = "*"
imutils = "*"
tensorflow = "*"

[requires]
python_version = "3.6"
